/* custom properties voor kleuren*/
:root {
    --main-color: #b3d4fc;
    --background-color: rgba(234, 226, 226, 0.5);
    --border-color: rgba(255, 255, 255, 0.5);
}

/* * en html geschreven door Faina*/
*,
*::after,
*::before,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/backgroundImg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
}

.container {
    padding: 0 1.25em;
}

.list-items {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.list-items__first {
    justify-content: center;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31.25em;
    cursor: pointer;
}

.list-item__first {
    margin-top: 18.125em;
}

/* geschreven door Faina */
.list-image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 31.25em;
    display: block;
    opacity: 0;
    animation: shake 7s infinite;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
}

/* Animatie shake geschreven door Faina */
@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    10% {
        transform: translate(-2px, -1px) rotate(-1deg);
    }
    20% {
        transform: translate(1px, 2px) rotate(2deg);
    }
    30% {
        transform: translate(3px, 0px) rotate(0deg);
    }
    40% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(2px, 2px) rotate(-2deg);
    }
    60% {
        transform: translate(-2px, -2px) rotate(-1deg);
    }
    70% {
        transform: translate(1px, 1px) rotate(2deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(0deg);
    }
    90% {
        transform: translate(2px, 2px) rotate(1deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.pikachu-images {
    height: 16.875em;
    opacity: 0;
    animation-name: jump;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.description {
    margin: 0 auto;
}

.description-list {
    position: absolute;
    opacity: 0;
    background-color: var(--background-color);
    max-width: 25em;
    width: 100%;
    min-height: 6.25em;
    border: 6px solid var(--main-color);
    border-radius: 20px;
    padding: 0.625em;
    z-index: 1;
}

.first-text{
    position: absolute;
    opacity: 1;
    background-color: var(--background-color);
    max-width: 17.5em;
    width: 100%;
    min-height: 3.125em;
    border: 6px solid #b3d4fc;
    border-radius: 20px;
    padding: 0.625em;
    font-size: 1.0625em;
    margin-top: 0.3125em;
}

.hidden-image{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.7s ease-in, transform 0.7s ease-in;
    z-index: 1;

}

.desc-list__title,
.desc-list__text{
    font-size: 1.5em;
    margin-top: 0.3125em;
}
.desc-list__text {
    margin-top: 0.625em;
}

.list-image__raichu {
    display: none;
}

.list-btn {
    position: absolute;
    border: 2px solid transparent;
    height: 16.875em;
    width: 31.25em;
    background-color: transparent;
    z-index: 1;
    transition: all ease-in 0.4s;
}

/* button states */
.list-item:hover {
    opacity: 0.8;
    transition: opacity 0.7s ease-in;
}

.list-btn:active{
    transform: scale(0.95);
    transition: all ease-in 0.4s;
}

.list-btn:focus {
    outline: none;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 0.625em var(--border-color);
    border-radius: 20px;
}


/* media queries voor responsive design*/ 
@media (max-width: 104em) {
    .list-item__first {
        margin-top: 12em;
    }
}


@media (max-width: 90em) {
    .list-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25em;
        height: 13.5em;
    }
    .list-image {
        width: 25em;
    }
    .pikachu-images {
        height: 13.5em;
    }
}

@media (max-width: 74em) {
    .list-btn {
        width: 18.75em;
        height: 10.125em;
    }
    .list-image {
        width: 18.75em;
    }
    .pikachu-images {
        height: 10.125em;
    }
    .description {
        margin-top: 3.125em;
    }
    .description-list {
        padding: 0.3125em;
        max-width: 18.75em;
        min-height: 5em;
    }
    .desc-list__title,
    .desc-list__text {
        font-size: 1.25em;
    }
}

@media (max-width: 48em) {
    .list-item__first {
        margin-top: 18em;
    }
    .list-btn {
        width: 10.625em;
        height: 5.6875em;
    }
    .list-image {
        width: 10.625em;
    }
    .list-item {
        width: 18.75em;
    }
    .pikachu-images {
        height: 5.6875em;
    }

    .description-list {
        padding: 0.3125em;
        max-width: 15.625em;
        min-height: 4.375em;
    }
    .desc-list__title,
    .desc-list__text {
        font-size: 1.125em;
        margin-top: 0.125em;
    }
}
