/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}

.background {
  position: absolute;
  z-index: -1;
}



/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

.pikachu {
  position: absolute;
  z-index: 1;
  width: 150px;
}

.bush1 {
  position: absolute;
  z-index: 2;
  width: 500px;
  top: 40px;
}

.pichu {
  position: absolute;
  z-index: 1;
  width: 150px;
  margin-left: 200px;
}
.bush2 {
  position: absolute;
  z-index: 2;
  width: 500px;
  top: 40px;
  margin-left: 200px;
}

.raichu {
  position: absolute;
  z-index: 1;
  width: 150px;
  margin-left: 400px;
}
.bush3 {
  position: absolute;
  z-index: 2;
  width: 500px;
  top: 40px;
  margin-left: 400px;
}

ol {
  list-style-type:none;
  position: relative;
}

