/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

img {
  position: absolute;
  z-index: 1;
  width: 150px;
}

.struik {
  position: absolute;
  z-index: 2;
  width: 160px;
  top: 40px;
}


ol {
  list-style-type:none;
  position: relative;
}

